$color-primary-dark : #260347;
$color-primary-light : #6e37a3;

$color-body-light : rgb(236, 95, 13);
$color-body-dark : rgb(107, 39, 0);

$color-footer : #55c57a;
$color-footer-light : #7ed56f;
$color-footer-dark : #28b485;

$color-white: #fff;

$color-secondary-light : #fbb900;
$color-secondary-dark : #ff7730;
$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5643fa;
$color-grey-dark : #777;
$color-white : #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


// Grid Vars

$grid-width: 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 6rem;



$font-bangers: 'Bangers', cursive;
$font-fred:'Fredericka the Great', cursive;
$font-abril: 'Abril Fatface', cursive;
$font-julius: 'Julius Sans One', sans-serif;
$font-arbutus: 'Arbutus Slab', serif;



//font-family: 'Bangers', cursive;
