.header--primary {
    color : $color-white;
    font-family: $font-bangers;
    font-weight: 300;
    font-size: 10rem;
}

.self-description {
 font-size: 2rem;
 font-weight:500;
font-family: $font-bangers;
}